@model IEnumerable<TheForumOfEverything.Models.Categories.CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
    ViewData["Header Page"] = "all-categories.jpg";
}

<!-- Header -->
<header class="masthead" id="mastheadOnlyWithTitle" style="background-image: url('/assets/img/@ViewData["Header Page"]')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Categories</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
        <a id="login-submit" class="w-100 btn btn-lg btn-primary" href="/Posts/">All Categories</a>
    </div>
@foreach(var category in Model)
{
    <div>
        <a id="login-submit" class="w-100 btn btn-lg btn-primary" href="/Categories/Details/@category.Id">@category.Title</a>
    </div>
}