<!DOCTYPE html>
<html>
<head>
    <link href="~/css/adminLayout.css" rel="stylesheet" />
</head>
<body>

    <ul>
        <li><a asp-area="Administration" asp-controller="Home" asp-action="ApprovePosts">Approve Posts</a></li>
        <li><a asp-area="Administration" asp-controller="Home" asp-action="AddAdmins">Add Admins</a></li>
        <li style="float:right"><a class="active" asp-area="" asp-controller="Home" asp-action="Index">Back To Default Views</a></li>
    </ul>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>


