@{
    ViewData["Title"] = "About Me";
    ViewData["Header Page"] = "all-categories.jpg";
}
<!-- Header -->
<header class="masthead" id="mastheadOnlyWithTitle" style="background-image:url('/assets/img/@ViewData["Header Page"]')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-12 px-lg-5">
        <div class="row gx-4 gx-lg-4 justify-content-center">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <img src="/assets/img/about-me.jpg" alt="AboutMePicture" style="width:300px;height:380px; border: 5px solid #555;">
                <h1>Alex Ivanov</h1>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-7">
                <p>My name is Alex and I am a student at SoftUni Sofia. I like to, spend time in nature, learn new technologies in my free time, follow what is happening in the world of programming.</p>
                <p>I am constantly developing myself, both professionally and personally. I learn quickly and work well in a team.</p>
            </div>
        </div>
    </div>
</main>