@model IEnumerable<TheForumOfEverything.Models.Tags.TagViewModel>


@{
    ViewData["Title"] = "Home Page";
    ViewData["Header Page"] = "all-categories.jpg";
}
<!-- Header -->
<header class="masthead" style="background-image: url('/assets/img/@ViewData["Header Page"]')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>The Forum Of Everything</h1>
                    <span class="subheading">is a graduation project developed by Alex Ivanov</span>
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<br>
<br>
<!-- Main Content-->
<div>
        <a id="login-submit" class="w-100 btn btn-lg btn-info" href="/Posts/">All Tags</a>
    </div>
@foreach(var tag in Model)
{
    <div>
        <a id="login-submit" class="w-100 btn btn-lg btn-info" href="/Tags/Details/@tag.Id">#@tag.Content</a>
    </div>
}
